body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 2;
  padding: 10px 5px;
  font-size: 25px;
  font-family: Impact, sans-serif;
  background-image: linear-gradient(
    rgb(220, 162, 162),
    rgb(200, 114, 144),
    rgb(206, 173, 178)
  );
  color: rgb(2, 2, 2);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px 15px;
  font-family: "palatino", serif;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

nav {
  background-color: #f4e9f1;
  font-family: "impact", sans-serif;
  color: black;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

button {
  padding: 10px 10px;
  margin-left: 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: #f5e6ec; 
  border: none;
  border-radius: 5px;
}

.error {
  background-color: red;
  color: rgb(252, 190, 35);
  font-size: 25px;
  font-family: Impact, sans-serif;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
